[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tmux/tmux-current-pane-hostname"]
	path = tmux/tmux-current-pane-hostname
	url = https://github.com/soyuka/tmux-current-pane-hostname
[submodule "tmux/tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
